@import "bootstrap";

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  height: 120px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed; /* ページの上部に固定 */
}

header a, footer p {
  margin: 20px 30px;
  font-size: 30px;
  color: black;
}

header a:last-child {
  margin-right: 0;
}

.notice {
  color: green;
}

.alert {
  color: red;
}
body {
  background-image: url('syokukatu.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  margin-bottom: 70px;
}
