.post-details {
  margin-top: 50px;
}

.post-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.post-info {
  font-size: 2em;
  margin-bottom: 10px;
}

.post-comment {
  margin-bottom: 30px;
}

.post-actions {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-edit {
  background-color: #007bff;
  border: none;
  margin-right: 40px;
}

.btn-delete {
  background-color: #dc3545;
  border: none;
}

.container{
  font-size: 40px;
}

.post-action-btn{
  margin: 20px;
}