
.container {
  margin-top: 50px; /* コンテナ全体を上方向に少し移動 */
}

h2 {
  font-size: 4em; /* 見出しのテキストサイズを大きく設定 */
  margin: 10px 0 30px; /* 見出しの下側の余白を追加 */
}

.form-group {
  margin: 10px 0 30px; /* フォームグループの下側の余白を追加 */
  font-size: 2rem;
}

.form-control {
  width: 100%; /* 入力フィールドの幅を100%に設定 */
  padding: 10px; /* 入力フィールドの内側の余白を設定 */
  font-size: 2em; /* 入力フィールドのテキストサイズを大きく設定 */
}

.btn-primary {
  background-color: #007bff; /* プライマリボタンの背景色を設定 */
  color: #fff; /* プライマリボタンのテキスト色を設定 */
  border: none; /* プライマリボタンの枠線をなしに設定 */
  padding: 30px 40px; /* プライマリボタンの内側の余白を設定 */
  border-radius: 5px; /* プライマリボタンの角丸を設定 */
  cursor: pointer; /* プライマリボタンにポインターを追加 */
  font-size: 40px;
}

.btn-primary:hover {
  background-color: #0056b3; /* プライマリボタンの背景色をホバー時に変更 */
}