@import "bootstrap";

.container {
  margin-top: 50px;
}

h2 {
  font-size: 4em;
  margin: 10px 0 30px;
}

.form-group {
  margin: 10px 0 30px;
  font-size: 2rem;
}

.form-control {
  font-size: 1em;
}

.btn-primary {
  padding: 20px 30px; /* ボタンの内側の余白を調整 */
  font-size: 2em; /* ボタンのテキストサイズを調整 */
}

.input-group {
  .form-control {
    background-color: #080808;
    color: #fff;
  }
}