/* login.css */

.registration-main {
  text-align: center;
}

.form-wrap {
  margin-top: 70px;
}

.form-header-text {
  font-size: 4rem;
  margin-bottom: 20px;
}

.input-default {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.indispensable {
  color: red;
}

.info-text {
  font-size: 2rem;
  color: rgb(3, 2, 2);
}

.form-info-header {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 70px;
}

.form-info-text {
  font-size: 2rem;
  color: rgb(5, 5, 5);
}

.form-bottom-text {
  font-size: 0.9rem;
  margin-top: 70px;
}

.register-red-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 2.5rem;
  cursor: pointer;
}

.register-red-btn:hover {
  background-color: darkred;
}

.form-text{
  font-size: 2rem;
}